extend layout
block content
  #map
block sidebar
  .sidebar-content
    table
      tr
        td
          h1
            i(class="fa fa-th-list", aria-hidden="true")
        td
          h1
            | Options

      tr
        td
          | County
        td
          select#county_select(name="counties")

      tr
        td
          | Date
        td
          select#month_select(name="months")

      tr
        td
          | Opacity
        td
          input#opacity_select(type="range", min="0", max="1", step="0.01", value="0.40")
      tr
        td
          | Radius
        td
          input#radius_select(type="range", min="1", max="2", step="0.01", value="1")

      tr
        td
          h1
            i(class="fa fa-bar-chart", aria-hidden="true")
        td
          h1
            | County statistics
      tr
        td#county_radiance
          | ?
        td
          | average infrared radiance
      tr
        td#county_pop
          | ?
        td
          | people
      tr
        td#county_gdp
          | ?
        td
          | million in GDP
      tr
        td#county_pce
          | ?
        td
          | personal consumption expenditures
      tr
        td#county_income
          | ?
        td
          | per capita personal income
      tr
        td
        td
          a#county_link(target="_blank") See more
