extend layout
block content
  p
    | We did the data stuff
  p
    | And the data was good
  p
    | And the data was clean
  p
    | The data told us everything
  p
    | Good night world
block sidebar
  .widget
    h1 Widget
    p
      | Not sure what goes here
    p
      | We could remove this
