extend layout
block content
  p
    | We did the data stuff
  p
    | And the data was good
  p
    | And the data was clean
  p
    | The data told us everything
  p
    | Good night world
block sidebar
  .widget
    h1 Widget
    img.viirs-image(src="/static/images/viirs_tiny/tile1.2014-02.tiny.png")
