extend layout
block content
  #map
block sidebar
  .widget
    h1 Options

    table
      tr.widget-option
        td
          | County
        td
          select#county_select(name="counties")

      tr.widget-option
        td
          | Month
        td
          select#month_select(name="months")

      tr.widget-option
        td
          | Opacity
        td
          input#opacity_select(type="range", id="weight", min="0", value="0.30", max="1", step="0.01")
  .widget
    h1 County statistics
    #county_stats_none
      | Sorry!  No county stats found!
    #county_stats.hidden
