doctype
html
  head
    title #{title} - Sysj
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js")
    script(src="https://maps.googleapis.com/maps/api/js?libraries=visualization")
    script(src='/static/js/index.js')
  body
    header
      h1 Sysj
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Project for Bayes Hack 2016
