doctype
html
  head
    title #{title} - Sysj
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    header
      h1 Sysj
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Project for Bayes Hack 2016
