/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}

header {
  font-family: 'Quicksand';
  padding: 1px;
  color: #fff;
  text-align: center;
  background-color: #563554;
}

footer {
  width: 100%;
  padding: 5px 20px;
  border-top: 1px dotted #ccc;
  font-size: 13px;
}

.container {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
}

.main-content {
  float: left;
  width: 60%;
}

.main-content p {
  margin-bottom: 20px;
}

.sidebar {
  float: left;
  width: 40%;
}

.widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  padding: 10px 10px 10px 10px;
}

.widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.widget p {
  font-size: 13px;
  margin-bottom: 10px;
}

.widget-option {
  padding: 5px;
}

p {
  line-height: 1.8;
}

#map {
  width: 100%;
  height: 500px;
}

.hidden {
  display: none;
}
