/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");
/*
 * Nib provides a CSS reset
 */
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Source Sans Pro';
  background-color: #212121;
  color: #d6d7d9;
}

header {
  font-family: 'Merriweather';
  padding: 1px;
  color: #f1f1f1;
  text-align: center;
  background-color: #205493;
}

footer {
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  /* border-top: 1px dotted #aeb0b5; */
  font-size: 13px;
}

.container {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
}

.main-content {
  float: left;
  width: 60%;
}

.main-content p {
  margin-bottom: 20px;
}

.sidebar {
  float: left;
  width: 40%;
}

.widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  margin-left: 20px;
  padding: 10px;
}

.widget h1 {
  margin-bottom: 20px;
}

.widget p {
  font-size: 13px;
  margin-bottom: 10px;
}

.widget-option {
  padding: 5px;
}

p {
  line-height: 0.8;
}

#map {
  width: 100%;
  height: 500px;
}

.hidden {
  display: none;
}

a, a:visited {
  color: #3e94cf;
}
